docker-compose/**/*.yml
!docker-compose/base.yml

nginx/**/*.conf

volumes/*
!volumes/.gitkeep

wordpress-docker-terraform
wordpress-docker-terraform.pub

terraform.tfstate
start.sh
stop.sh
deploy.sh
destroy.sh
terraform/scripts/app.sh
terraform/scripts/create_volume.sh
terraform/cloudfront/*.tf